{
	"parser": "@typescript-eslint/parser",
	"extends": "next/core-web-vitals",
	"plugins": ["@typescript-eslint"],
	"rules": {
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsErrorsIgnorePattern": "^_"
			}
		],
		"import/order": [
			"error",
			{
				"groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
				"pathGroups": [
					{
						"pattern": "react",
						"group": "external",
						"position": "before"
					}
				],
				"pathGroupsExcludedImportTypes": ["react"],
				"newlines-between": "always",
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				}
			}
		]
	}
}
